.nav-menu {
    text-align: right;
}

.nav-spacing {
    margin: 0 0 0 10px;
    text-decoration: none;
}

.nav-text-decoration {
    text-decoration: none;
}

.image-link {
    text-decoration: none;
}